body{
    font-family: Arial, sans-serif;
    background-color: #bfc0d1;
    margin: 0;
    padding: 0;
    color: #c4cfd6;
}

.nav-container {
    width: 100%;
    background-color: #253045;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.logo{
    width: 70%;
    padding-left: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: auto;
    padding: 0;
}

.nav-links li {
    padding-right: 30px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    color: #c4cfd6;
    font-size: 1.2em;
}

.nav-links li a:hover {
    text-decoration: underline;
    color: #00c6c6;
}

.hero {
    background-color: #191c2b;
    text-align: center;
}

.hero-image {
    width: 50%;
    height: auto;
    display: inline-block;
    object-fit: cover;
    border-radius: 8px;
}
